<div style="width: 60%; margin: 20px auto;">
<%= simple_form_for(@flat) do |f| %>
  <%= f.input :title %>
  <%= f.input :address %>
  <%= f.input :city %>
  <%= f.input :photo, as: :file %>
  <%= f.input :description %>
  <%= f.input :number_of_rooms %>
  <%= f.input :interests %>
  <%= f.input :currency, label: 'Rent Currency', collection: Flat::CURRENCIES %>
  <%= f.input :rent %>
  <%= f.input :available_from, :order => [:day, :month, :year] %>
  <div style="text-align: center;">
  <%= f.submit class: "btn btn-flat" %>
  </div>
<% end %>
</div>
