<div style="width: 60%; margin: 20px auto;">
<%= simple_form_for(@flat) do |f| %>
  <%= f.input :title %>
  <%= f.input :address %>
  <%= f.input :city %>
  <%# <%= f.input :picture %>
  <%= f.input :description %>
  <%= f.input :rent %>
   <%= f.input :available_from %>
  <%= f.submit class: "btn btn-flat" %>
<% end %>
</div>
