<div style="text-align: center;">
  <h1>Discover our flats</h1>
</div>

<div class="flat-index-content">
  <%= form_with url: flats_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Next destination is ..."
    %>
    <%= submit_tag "Search", class: "btn btn-flat" %>
  <% end %>
</div>

  <div class="flat-index-content">
    <% @flats.each do |flat| %>
      <%= link_to flat_path(flat) do  %>
        <div class="flat-card-index">
          <%= image_tag 'https://images.unsplash.com/photo-1560448204-e02f11c3d0e2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80', class: 'image-flat-cover',  alt: "image placeholder for flat" %>

          <div class="flat-card-content">
            <p><%= flat.title %></p>
            <p><%= flat.rent %> €/pm</p>

          </div>
        </div>
      <% end %>
    <% end %>
  </div>
