<div style="text-align: center;" class="content, container";>
  <h1>Discover our flats</h1>
</div>


<div class="flat-index-content">
  <%= form_with url: flats_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Next destination is ..."
    %>
    <%= submit_tag "Search", class: "btn-flat" %>
  <% end %>
</div>

<div style=" height: 300px; padding: 30px auto; margin: 0px auto;",
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div class="flat-index-content">
    <% @flats.each do |flat| %>
      <%= link_to flat_path(flat) do  %>
        <div class="flat-card-index">
          <% if flat.photos.attached? %>
            <%= cl_image_tag flat.photos.first.key, height: 200, width: 300, crop: :fill, class: 'image-flat-cover',  alt: "picture of flat" %>
          <% else %>
            <%= image_tag 'flat-placeholder', class: 'image-flat-cover',  alt: "image placeholder for flat" %>
          <% end %>
          <div class="flat-card-content">
            <p><%= flat.title %></p>
            <p><%= flat.rent %> <%= flat.currency %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
