<div class="container show-flat-content">
  <h1 style="padding: 10px 0px; text-align: center"><%= "Welcome to #{@flat.title}!" %></h1>

<% if @owner %>
  <div style="text-align: center; padding: 20px;">
    <%= link_to "Update Ad", edit_flat_path, class: 'secondary-btn' %>
    <%= link_to "Delete Ad",
    flat_path(@flat), class: 'secondary-btn',
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>
  </div>
<% end %>

  <%= image_tag 'flat-placeholder', class: 'image-flat',  alt: "image placeholder for flat" %>

  <div class="flat-content">
    <p><%= @flat.description%> </p>
    <p> <span class="strong">Address: </span> <%= @flat.address %> (<%= @flat.city %>)</p>
    <p><span class="strong">Rent:</span> <%= @flat.rent %></p>
    <p><span class="strong">Available from</span> <%= @flat.available_from.strftime("%A, %d %B %Y") %> </p>
  </div>

<% if !@owner && user_signed_in? %>
  <div style="text-align: center; padding: 20px;">
    <%= link_to "Book a viewing", new_flat_viewing_path(@flat), class: 'btn btn-flat' %>
  </div>

<% elsif !@owner %>
<div style="text-align: center; padding: 40px;">
  Sign up for free or login to book a viewing
  <div style= "padding: 20px;">
    <%= link_to "Sign up for Free", new_user_registration_path, class: "btn btn-flat" %>
    <%= link_to "Login", user_session_path, class: 'btn btn-flat' %>
    </div>
    <div style= "padding: 20px; ">
    <%= link_to 'Get back to flats', flats_path, class: 'secondary-btn'%>
  </div>
  </div>
<% end %>

<% if user_signed_in? %>
  <div class="owner-details card-owner">
    <%= image_tag 'user-placeholder', class: 'card-owner img',  alt: "image placeholder for user" %>
    <div class="card-owner-infos">
    <h2>This property is owned by <%= @flat.user.first_name %> <%= @flat.user.last_name %></h2>
    <p><%= @flat.user.first_name %> lives in <%= @flat.city %> and enjoys <%= @flat.user.interests %>.
    </p>
    </div>
  </div>




  <div style="text-align: center; padding: 40px;">
  <p>Not what you were looking for?</p>
    <%= link_to 'Get back to flats', flats_path, class: 'secondary-btn' %>
  </div>

  <% end %>

</div>
