<div class="container" style="width: 60%; margin: 20px auto;" >


    <div class="container">
    <div class="first-card">
    <h1 class="profile-h1"> Hello, I'm <%= @user.first_name%>!</h1>
       <% if @user.photo.attached? %>
                  <%= cl_image_tag @user.photo.key, class: 'rounded-circle', style: 'width: 150px', gravity: "auto", radius: "max" %>
                <% else %>
                  <%= image_tag 'user-placeholder', class: 'rounded-circle', style: 'width: 150px', id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <% end %>
                <ul class="profile-ul">
          <li class="subtitle profile-li"> <i class="subtitle-symbol fa-sharp fa-solid fa-briefcase"></i> <%= @user.occupation %></li>
          <li class="subtitle profile-li"><i class="subtitle-symbol fa-solid fa-location-dot"></i> <%= @user.city %></li>
        </h2>
        <p> <%= @user.bio %> </p>
      </ul>





  </div>
  </div>

<div style="text-align: center; padding: 20px;">
    <%= link_to 'Back to Flats', flats_path, class: 'secondary-btn' %>
    <%= link_to 'Back to Viewings', viewings_path, class: 'secondary-btn' %>
  </div>

</div>
