<!DOCTYPE html>
<html>
  <head>
    <title>Rooms For Timoty</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-light", style="min-height: 100vh; display: flex;
  flex-direction: column; text-decoration: none;">


   <%= render 'shared/navbar' %>

 <%= render "shared/flashes" %>

  <div class="container" style="padding: 20px 0px";>
    <%= yield %>
  </div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Rooms for Timoty is made with <i class="fas fa-heart"></i> by <a href="https://github.com/asaleh96/">Ahmed</a>,
    <a href="https://github.com/bizipoz/">Caroline</a>, <a href="https://github.com/SIFAR101">Shahid</a> and <a href="https://github.com/simonabar1/">Simona</a>.
  </div>
</div>

  </body>
</html>
